
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .container {
    max-width: 50%;
    margin: 0 auto;
    padding:1.25rem ;
    text-align: center;
  }
  
  input[type="text"], input[type="number"], button {
    padding: 0.625rem;
    margin-bottom: 0.625rem;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical */
    max-height: 25rem; /* Altura máxima da lista antes de adicionar a barra de rolagem */
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem;
    border-bottom: 0.0625rem solid #ddd;
  }
  
  li span {
    flex-grow: 1;
  }
  
  li button {
    margin-left: 0.625rem;
    margin-right: 0; /* Corrigindo a margem direita para zero */
  }
  .rodape{
    font-family: sans-serif;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.25rem;
    position: fixed;
    bottom: 0;
    width: 100%;

}  
